<div class="column">
  <div class="ui special cards">
    <div class="card">
      <a class="ui right corner label">
        <i id='connBtn' class="big circle gray icon"></i>
      </a>
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button" style="position: absolute; bottom: 5px; right: 0;">Open Connection</div>
            </div>
          </div>
        </div>
        <img src="https://s3.amazonaws.com/hackerleague-production/organizations/logos/512bb56489c01624c8000016/thumb.png">
      </div>
      <div class="content">
        <a class="header item" data-content="<%= item.name %>">
          <%= truncate(item.name, length: 22) %>
        </a>
        <div class="meta">
          <div>
            <i class="user icon"></i><%= item.user %>
          </div>
          <div>
            <i class="sitemap icon"></i><%= "#{item.host}:#{item.port}"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.special.cards .image').dimmer({
    on: 'hover'
  });

  $('.item').popup();

  var connStts = <%= port_open?('localhost', 27017) %>;

  setInterval(function(){
    if (<%= port_open?('localhost', 27017) %> == true){
      $('.special.cards #connBtn').removeClass().addClass('big circle green icon')
    } else if (<%= port_open?('localhost', 27017) %> == false){
      $('.special.cards #connBtn').removeClass().addClass('big circle red icon')
    }
    $(".special.cards #connBtn").load(location.href+" .special.cards #connBtn>*", '');
  }, 3000);

</script>
