<h1 class="ui header">My Connections</h1>
<div class="ui section divider"></div>


<div class="ui stackable four column grid">
  <div class="column">
    <%= render partial: "item", locals: {name: "SEJUS_OTRS"} %>
  </div>
  <div class="column">
    <%= render partial: "item", locals: {name: "SEJUS_OTRS"} %>
  </div>
  <div class="column">
    <%= render partial: "item", locals: {name: "SEJUS_OTRS"} %>
  </div>
  <div class="column">
    <%= render partial: "item", locals: {name: "SEJUS_OTRS"} %>
  </div>
  <div class="column">
    <%= render partial: "item", locals: {name: "SEJUS_OTRS"} %>
  </div>
  <div class="column">
    <%= render partial: "item", locals: {name: "SEJUS_OTRS"} %>
  </div>
  <div class="column">
    <%= render partial: "item", locals: {name: "SEJUS_OTRS"} %>
  </div>
</div>
